<div class="footer">
  <footer>
    <a href="https://www.youtube.com/ItsNautHuman">
      <img alt="youtube" src="{{site.url}}/images/social/youtube.png" target="_blank" width="32" height="32"></a>
    <a href="https://www.tiktok.com/@itsnauthuman">
      <img alt="tiktok" src="{{site.url}}/images/social/tiktok.png" target="_blank" width="32" height="32"></a>
    <a href="http://instagram.com/itsnauthuman">
      <img alt="instagram" src="{{site.url}}/images/social/instagram.png" target="_blank" width="32" height="32"></a>
    <a href="https://twitter.com/itsnauthuman">
      <img alt="twitter" src="{{site.url}}/images/social/twitter.png" target="_blank" width="32" height="32"></a>
    <br/>
    <p>
      Naut Human Productions, LLC
    </p>
  </footer>
</div>
