<style>
  div.footer {
    background-color: black;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: black;
  }
  footer {
    padding: 2em;
    margin: 0 auto;
    max-width: 800px;
  }
  div.footer p {
    color: white;
    background-color: transparent;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 18px;
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  div.footer a {
  }
  div.footer img {
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="footer">
  <footer>
    <!--
    <a href="https://www.youtube.com/ItsNautHuman">
      <img alt="youtube" src="{{site.url}}/images/social/youtube.png" target="_blank" width="32" height="32"></a>
       -->
<!--
    <a href="https://www.tiktok.com/@itsnauthuman">
      <img alt="tiktok" src="{{site.url}}/images/social/tiktok.png" target="_blank" width="32" height="32"></a>
    -->
    <a href="http://instagram.com/itsnauthuman">
      <img alt="instagram" src="{{site.url}}/images/social/instagram.png" target="_blank" width="32" height="32"></a>
    <!--
    <a href="https://twitter.com/itsnauthuman">
      <img alt="twitter" src="{{site.url}}/images/social/twitter.png" target="_blank" width="32" height="32"></a>
    -->
    <br/>
    <p>
      Naut Human Productions, LLC
    </p>
  </footer>
</div>
