---
layout: default
---

<style>

.video-content {
  overflow: hidden;
  margin-bottom: -120px;
}

@media only screen and (max-width: 499px) {
  #reel-video {
    height: 600px;
  }
  .herotitle {
    top: -425px;
    padding: 20px;
    text-align: right;
  }
  .herotitle h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .herotitle h2 {
    font-size: 24px;
  }
  .herotitle p {
    font-size: 13px;
  }
  .herobutton {
    font-size: 11px;
  }
  img {
    width: 100px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 799px) {
  #reel-video {
    height: 600px;
  }
  .herotitle {
    top: -500px;
    padding: 70px;
    text-align: right;
  }
  .herotitle h1 {
    font-size: 40px;
  }
  .herotitle h2 {
    font-size: 30px;
  }
  .herotitle p {
    font-size: 15px;
  }
  .herobutton {
    font-size: 14px;
  }
  img {
    width: 120px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1099px) {
  #reel-video {
    height: 700px;
  }
  .herotitle {
    top: -700px;
    width: 50%;
    padding: 10px;
    text-align: right;
    margin-left: 37%;
  }
  .herotitle h1 {
    font-size: 60px;
  }
  .herotitle h2 {
    font-size: 40px;
  }
  .herotitle p {
    font-size: 20px;
  }
  .herobutton {
    font-size: 18px;
  }
  img {
    width: 150px;
  }
}
  @media only screen and (min-width: 1100px) and (max-width: 1699px) {
  #reel-video {
    height: 900px;
  }
  .herotitle {
    top: -875px;
    width: 50%;
    padding: 30px;
    text-align: right;
    margin-left: 40%;
  }
  .herotitle h1 {
    font-size: 96px;
  }
  .herotitle h2 {
    font-size: 50px;
  }
  .herotitle p {
    font-size: 25px;
  }
  .herobutton {
    font-size: 21px;
  }
  img {
    width: 180px;
  }
}

  @media only screen and (min-width: 1700px) {
  #reel-video {
    height: 1100px;
    margin-top: auto;
  }
  .herotitle {
    top: -760px;
    width: 50%;
    padding: 30px;
    text-align: right;
    margin-left: 60px;
  }
  .herotitle h1 {
    font-size: 106px;
    margin-top: auto;
  }
  .herotitle h2 {
    font-size: 50px;
  }
  .herotitle p {
    font-size: 25px;
  }
  .herobutton {
    font-size: 23px;
  }
  img {
    width: 180px;
  }
}

#reel-video {
  /* video from https://ssyoutube.com/ */
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 0;
  min-width: 100%; 
  margin-left: 50vw;
  transform: translate(-50%);
}

.herotitle {
  position: relative;
  background: transparent;
  color: #f1f1f1;
  z-index: 1;
  height: 0px;
}

.herotitle h1 {
  font-family: "cofo-gothic-variable", sans-serif;
  font-variation-settings: "wght" 900;
  letter-spacing: 1pt;
}
  
.herotitle h2 {
  font-family: "usual", sans-serif;
  font-weight: 600;
  font-style: normal;
}
  
.herotitle p {
  font-family: "old-claude-lp-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img.laurel { 
    /*width: 140px*/
  }

.herobutton {
    background-color: black;
    border: 3px solid orange;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.4s;
    margin-bottom: 15px;
}

  .herobutton:hover {
    background-color: orange; /* Green */
    color: white;
  }
</style>
 
<div class="video-content">
  <video autoplay muted loop playsinline id="reel-video">
    <source src="/videos/gatsby/PaigeWebsiteTest01.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="herotitle">
    <p>Don't miss Loudoun's most dazzling immersive event of the summer!</p>
    <h1>The Great Gatsby <br>Experience</h1> 
    <p>
      George C. Marshall's Dodona Manor <br>Downtown Leesburg, VA<br><br>
      May 29th – June 15th
      <br> <br>
      <!--This bold new theatrical take on an American classic puts audiences right in the middle of the story – 
      immerse yourself in one of Jay Gatsby's infamous parties!-->
    </p>
      <a href="/gatsbytickets">
        <button class="herobutton">
          BUY TICKETS!
        </button>
      </a>
   <!-- <a href="/tickets" target="_blank">
        <button class="herobutton">
          BUY TICKETS!
        </button>
    </a> -->
  </div>
</div>
