<style>
  div.pitch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.pitch {
    padding: 10px 20px 10px;
    max-width: 800px;
  }
  div.pitch p {
    padding: 5px;
    font-family: Asul;
    font-size: 20px;
    color: white;
  }
  img.pitch-image {
    width: 180px;
    float: left;
    padding: 30px 20px 5px 0px;
  }
</style>

<div class="pitch-wrapper">
  <div class="pitch">
    <img class="pitch-image" src="{{site.url}}/images/pineapple.jpg" alt=""/>
    
    <p>
      <strong>Naut Human Productions</strong> is an Atlanta-based production company
      that specializes in content of all kinds:
      feature films, television, music videos, commercials, branded content, etc.
      If you can dream it, we can bring it to life!
    </p>
    <p>
      We aim to serve high-quality and micro-budget content to anyone in Atlanta with a creative goal,
      while providing work and opportunities for both early-career Georgia filmmakers and local film students.
    </p>

    <!--
    <p>
      Naut Human Productions is an Atlanta-based production company that specializes in dark content of all kinds:
      feature films, television, music videos, commercials, branded content, etc.
      If you can dream it, we can bring it to life!
    </p>
    <p>
      We aim to serve high-quality and micro-budget content to anyone in Atlanta with a creative goal,
      while providing work and opportunities for both early-career Georgia filmmakers and local
      film students from the University of Georgia and the Georgia Film Academy.
    </p>
    -->
  </div>
</div>
