<style>
  div.pitch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/DraculaWebImage01.png);
  }
  div.pitch {
    padding: 10px 20px 10px;
    max-width: 800px;
  }
  div.pitch h1 {
    font-family: "cofo-gothic-variable", sans-serif;
    font-variation-settings: "wght" 900;
  }
  div.pitch p {
    padding: 5px;
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
  }
  img.pitch-image {
    width: 180px;
    float: left;
    padding: 30px 20px 5px 0px;
  }

  .button {
    background-color: black;
    border: 3px solid darkred;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.4s;
    margin-bottom: 15px;
}

  .button:hover {
    background-color: darkred; /* Green */
    color: white;
  }
  
</style>

<div class="pitch-wrapper">
  <div class="pitch"
    <h1>This Halloween<br>Season</h1>
    <p>
      The horrors of Transylvania fly into Loudoun County this fall with <strong>THE DRACULA EXPERIENCE!</strong> 
      This immersive world premiere experience will catapult audiences back hundreds of years and across seas as
      they discover action all around them through the dark of night where you, the audience, get to choose your fate and path!

      <br>
      <br>

      <strong>THE DRACULA EXPERIENCE</strong> is an hour long, immersive theatrical production in which the audience 
      joins Jonathan Harker as he attempts to escape Dracula's lair and survive the night. 

      <br>
      <br>

      This is a walking experience that includes immersive audience interactions with Dracula and his three vampire brides, from séances
      to fortune telling to potion making and more! Something evil awakes, and it thirsts for blood... 
    </p>
    <a href="/tickets" target="_blank">
      <button class="button">
        BUY TICKETS!
      </button>
    </a>
  </div>
</div>
