---
layout: default
---

<style>

.video-content {
  overflow: hidden;
  margin-bottom: -65px;
}

@media only screen and (max-width: 499px) {
  #reel-video {
    height: 450px;
  }
  .sizzletitle {
    top: -400px;
  }
  .sizzletitle h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sizzletitle h2 {
    font-size: 24px;
  }
  .sizzletitle p {
    font-size: 13px;
  }
  .sizzlebutton {
     font-size: 12px;
     display: none;
  }
  img {
    width: 100px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 799px) {
  #reel-video {
    height: 450px;
  }
  .sizzletitle {
    top: -500px;
  }
  .sizzletitle h1 {
    font-size: 60px;
  }
  .sizzletitle h2 {
    font-size: 30px;
  }
  .sizzletitle p {
    font-size: 15px;
  }
  .sizzlebutton {
     font-size: 16px;
  }
  img {
    width: 120px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1099px) {
  #reel-video {
    height: 700px;
  }
  .sizzletitle {
    top: -620px;
  }
  .sizzletitle h1 {
    font-size: 78px;
  }
  .sizzletitle h2 {
    font-size: 40px;
  }
  .sizzletitle p {
    font-size: 20px;
  }
  .sizzlebutton {
     font-size: 21px;
  }
  img {
    width: 150px;
  }
}
  @media only screen and (min-width: 1100px) {
  #reel-video {
    height: 900px;
  }
  .sizzletitle {
    top: -760px;
  }
  .sizzletitle h1 {
    font-size: 96px;
  }
  .sizzletitle h2 {
    font-size: 50px;
  }
  .sizzletitle p {
    font-size: 25px;
  }
  .sizzlebutton {
    font-size: 26px;
  }
  img {
    width: 180px;
  }
}

#reel-video {
  /* video from https://ssyoutube.com/ */
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 0;
  min-width: 100%; 
  margin-left: 50vw;
  transform: translate(-50%);
}

.sizzletitle {
  position: relative;
  width: 100%;
  background: transparent;
  color: #f1f1f1;
  text-align: center;
  z-index: 1;
  height: 0px;
}

.sizzletitle h1 {
  font-family: "cofo-gothic-variable", sans-serif;
  font-variation-settings: "wght" 900;
  letter-spacing: 1pt;
}
  
.sizzletitle h2 {
  font-family: "usual", sans-serif;
  font-weight: 600;
  font-style: normal;
}
  
.sizzletitle p {
  font-family: "old-claude-lp-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img.laurel { 
    /*width: 140px*/
}
.sizzlebutton {
    background-color: black;
    border: 3px solid darkred;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.4s;
    margin-bottom: 15px;
}

  .sizzlebutton:hover {
    background-color: darkred; 
    color: white;
  }
</style>

<!--<div class="navbar">
  <a href="https://nauthuman.ticketspice.com/the-dracula-experience">Tickets</a>
  <a href="/films">Films</a>
  <a href="/index">Home</a>
</div>-->
<div class="video-content">
  <video autoplay muted loop playsinline id="reel-video">
    <source src="WebsiteSizzle07.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="sizzletitle">
    <h1>
      <br>
      We Sold Out!</h1> 
    <p>Thanks for making The Dracula Experience such a hit! Stay tuned, 
      we'll be returning next year with another with another classic monster tale...
    and perhaps the Count will rise again soon!</p>
    <a href="/tickets">
        <button class="sizzlebutton">
          READ MORE!
        </button>
    </a>
    
  </div>
</div>

