<style>
div.ticketinfo-wrapper {
    padding: 20px 10px 40px 10px;
    /*
    background: #670D0B;
    */
    /* gradient code from https://www.joshwcomeau.com/gradient-generator/ */
    background-image: url(/images/FooterBackground2.png);
}
  div.ticketinfo {
    margin: 30px auto;
    max-width: 950px;
    padding: 0px;
  }
  div.ticketinfo h2 {
    color: white;
    text-align: center;
    padding: 0px 0px;
    text-decoration: underline;
    font-size: 30px;
  }
  div.ticketinfo p {
    color: white;
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
  }
  div.ticketinfo-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.ticketinfo-cell {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
  }
  div.ticketinfo-cell a {
    text-decoration: none;
    text-align: center;
  }
  /* See https://codepen.io/nxworld/pen/ZYNOBZ */
  div.ticketinfo-cell img {
	  opacity: 1;
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
	  width: 250px;
  }
  div.ticketinfo-cell:hover img {
	  opacity: .5;
  }
</style>

<div class="ticketinfo-wrapper">
  <div id="ticketinfo_panel" class="ticketinfo">
    <p>
	<br>	
	    *SHOWS ARE SELLING OUT – GET YOUR TICKETS NOW*
	    <br>
	    <br>
	    <br>
		Sink your teeth into the ultimate Halloween experience, 
	    <i>THE DRACULA EXPERIENCE</i>. 
	    Dare to enter this immersive journey into the heart 
	    of the world's most infamous vampire legend. 
	    Step straight into the dark of night, where Dracula and his 
	    brides await with a terrifying new twist that pulls the audience directly 
	    into the story. But be warned… danger lurks in every corner, 
	    and Dracula is always on the hunt for fresh blood. 
	    Will you survive the night, or will you join his ranks of the undead?
	<br>
	<br>
	<br>
    </p>
    <h2>
	THE DRACULA EXPERIENCE
	<br>
	October 17th – November 3rd
    </h2>
    <p>
	     <br>
      Thursday - 7pm & 9pm
	    <br>
      Friday - 7pm & 9pm
	    <br>
      Saturday - 7pm & 9pm
	    <br>
      Sunday - 7pm
	    <br>
	     <br>
	    <br>
      George C. Marshall's Dodona Manor
	    <br>
      312 E Market St
	    <br>
      Leesburg, VA 20176
	    <br>
	     <br>
	    <br>
	PRICING:
	    <br>
	Adult $40, Youth $35
	    <br>
	Youth Tickets are 12 and under. General Admission is 13 and up.
	<br>
	Group and Corporate ticket packages available. 
	    <br>
	     <br>
	    <br>
	The experience will be on your feet, exploring the outside property freely with scenes and actors all around. 
	    There are no stairs, but the terrain includes a (mostly) even brick path, a gravel driveway, and some patches of grass. 
	    Please dress accordingly. 
	    <br>
	    <br>
	    <br>
	It will be a one hour long event. The performance starts on the front porch with an opening scene and then spreads across the property from there, 
	    with more scenes and audience interactions, before returning to the front porch again for an epic conclusion!
	    <br>
	    <br>
	    <br>
	Family friendly (but scary) immersive experience with music.
	    <br>
	    <br>
	    <br>
	    With ticket protection, if you are unable to attend the 
	    show you purchased tickets for or the show is <i>cancelled due to the rain</i>, you are able to exchange your tickets 
	    for another day. Ticket protection cannot be purchased 
	    on the day of the show.
	    <br>
	    <br>
	    <br>
	    Without ticket protection, we do not offer exchanges 
	    if you are unable to attend or if the show is 
	    <i>cancelled due to the rain</i>. Ticket protection 
	    cannot be purchased on the day of the show.
	    <br>
	    <br>
	    <br>
	    *TICKETS ARE NON-REFUNDABLE*
	    <br>
	    <br>
	    <br>
	<a href="https://nauthuman.ticketspice.com/the-dracula-experience" target="_blank">
        	<button class="button">
         	 PURCHASE HERE
        	</button>
    	</a>
	</p>
  </div>
</div>
