<style>
  div.works-wrapper {
    background-color: #D0ECE7;
  }
  div.works {
    margin: 0 auto;
    max-width: 1100px;
    padding: 30px 0px;
  }
  div.works h3 {
    color: #28282B;
    background-color: #D0ECE7;
    text-align: center;
    padding: 10px 0px;
  }
  div.works p {
    color: #28282B;
    text-align: center;
  }
  div.work-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.work-cell {
    background-color: #C0CCC7;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-shadow: 3px 3px 3px grey;
    height: 365px;
  }
  div.work-cell img {
    padding: 3px 0px 0px 0px;
    border-radius: 8%;
  }
  div.work-cell p {
    color: #28282B;
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.work-cell a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.work-cell a:hover {
    color: whitesmoke;
    background-color: grey;
  }
  div.work-cell-title {
    color: darkgreen;
    font-size: 16px;
    max-width: 200px;
    margin: auto;
  }
</style>

<div class="works-wrapper">
  <div class="works">
    <h3>Works</h3>
    <div class="work-row">
      <div class="work-cell">
        <a href="https://www.yahoo.com/" target="_blank">
          <img src="{{site.url}}/images/pineapple.jpg" alt="" width="200"/>
        </a>
      </div>
    </div>
  </div>
</div>
